<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="backHome()">
      <ion-icon size="large"  name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Nouvelle lecture !</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- ### CHOIX TYPE D'OEUVRE-->
  <div class="div-type-oeuvre">
    <ion-label class="placeholder-style">
      {{currentDateToDisplay}}
    </ion-label>

    <div>
      <ion-label>
        Type d'oeuvre
      </ion-label>
    </div>
    <ion-radio-group [(ngModel)]="selectedArtworkType" (ionChange)="selectedTypeChange()">
      <ion-col>
        <ion-item lines="none">
          <ion-radio [value]="typeArtwork.BOOK">Livre</ion-radio>
          <ion-label>Livre</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio [value]="typeArtwork.MOVIE"></ion-radio>
          <ion-label>Film</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-radio [value]="typeArtwork.SERIE"></ion-radio>
          <ion-label>Série</ion-label>
        </ion-item>
      </ion-col>
    </ion-radio-group>
  </div>
  <!-- ### Selection de l'oeuvre ### -->
  <ion-item lines="none">
    <ion-label slot="start">
      Choisir un {{selectedArtworkType}}
    </ion-label>
    <ion-icon (click)="newArtwork()" multiple="false" style="margin-left: -20%;" slot="start" name="add-circle-outline">
    </ion-icon>
  </ion-item>
  <ion-select [(ngModel)]="selectedArtwork" *ngIf="artworksList.length > 0">
    <ion-select-option *ngFor="let artwork of artworksList" [value]="artwork">{{artwork.title}}
    </ion-select-option>
  </ion-select>

  <!-- ### Page de début de lecture ### -->
  <div *ngIf="selectedArtworkType != typeArtwork.MOVIE && artworksList.length > 0 && selectedArtwork.title">
    <ion-label class="start-page-label" slot="start">
      {{displayTextStartLecture()}}
    </ion-label>
    <ion-input placeholder="Exemple : 154"></ion-input>
  </div>



  <ion-button class="bottom-button" (click)="startLecture()">Commencer la lecture</ion-button>
</ion-content>