<header-lecture></header-lecture>

<ion-content>

  <div style="margin:2%">
    <h4>Question selectionnée</h4>
    <ion-item *ngIf="selectedQuestion" border-color="primary" color="{{selectedQuestion.difficulty.toLowerCase()}}">
      <ion-label class="type-question-label">{{getMiniNameType(selectedQuestion.type)}}</ion-label>
      <span class="vertical-barre"></span>
      <ion-label class="question-label">{{selectedQuestion.question}}</ion-label>
      <ion-icon slot="end" size="large" (click)="resetSelectedQuestion()" name="remove-outline"></ion-icon>
    </ion-item>
  </div>
  
  <!-- SEARCH BAR -->
  <ion-searchbar (ionChange)="filter()" (ionClear)="filter()" [(ngModel)]="keyword" animated></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let result of results" color="{{result.difficulty.toLowerCase()}}">
      <ion-label class="type-question-label">{{getMiniNameType(result.type)}}</ion-label>
      <span class="vertical-barre"></span>
      <ion-label class="question-label">{{result.question}}</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" (click)="selectQuestion(result)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-button (click)="createGroupe()" class="large-button">Ajouter groupe</ion-button>

  <ion-list>

    <div *ngFor="let group of groups">
      <div class="box">
        <ion-item *ngFor="let question of group.questions" color="{{question.difficulty.toLowerCase()}}">
          <ion-label class="type-question-label">{{getMiniNameType(question.type)}}</ion-label>
          <span class="vertical-barre"></span>
          <ion-label class="question-label">{{question.question}}</ion-label>
          <ion-icon slot="end" size="large" name="remove-outline" (click)="removeQuestion(group, question)"></ion-icon>
        </ion-item>
       
      </div>
      <div class="div-icone">
        <ion-icon size="large" (click)="addInGroupe(group)" name="add-outline"></ion-icon>
      </div>
    </div>



  </ion-list>
</ion-content>