#question-type-select {
    width: 50%;
    float: left;
    text-align: start;
}
#difficulty-select {
    width: 50%;
    float: right;
    text-align: end;
}

ion-fab-button > label{
    font-size: x-large;
    font-weight: bolder;
}

ion-fab {
    bottom: 7% !important;
}

.bottom-button{

    position: relative !important;
    width:82%;
    padding: 0% !important;
    padding-left: 1% !important;
    
}
