<ion-header>
  <app-main-header title="Home"></app-main-header>
  <ion-toolbar>
    <div>
      <span id="book-select">
        <ion-select [(ngModel)]=artworksList >
          <ion-select-option *ngFor="let artwork of artworksList" value="{{artwork}}">{{artwork.title}}
          </ion-select-option>
        </ion-select>
      </span>
      <span id="difficulty-select">
        <ion-select [(ngModel)]=selectedDifficulty >
          <ion-select-option *ngFor="let difficulty of difficulties" value="{{difficulty}}">{{difficulty}}
          </ion-select-option>
        </ion-select>
      </span>
     </div>
  </ion-toolbar>
</ion-header>
<ion-content>


  <div>
    <div class="{{selectedDifficulty.toLowerCase()}} main-case">
     {{countNbOfAnswersForSelectedDifficulty()}}
    </div>

    <div>
      <div class="{{selectedDifficulty.toLowerCase()}} case" *ngFor="let question of questions">
        <label>{{question.nb}}</label><br>
        <label>{{question.type}}</label>
      </div>
    </div>

  </div>
  <ion-button class="bottom-button" [routerLink]="['/configure-lecture']">Commencer une lecture</ion-button>
</ion-content>