.type-icone{
    border: grey 1PX solid;
    width: 6%;
    padding-left: 0.5%;
    color:white;
    font-size: large;
    font-weight: bold;
    position: absolute;
    border-radius: 5px;
    background-color: var(--ion-color-primary);
}
