.type-question-label{
    font-size: large;
    font-weight: bold;
    display: contents;
}

.question-label{
    width: 85%;
    padding-left: 6%;
    white-space: break-spaces;
    text-align: justify;
}

.vertical-barre{
    left:8%;
    position: absolute;
    border-right: 1px solid white;
    height: 100%;
    display: inline-block;
}

#no-question{
    text-align: center;
    color:grey;
    font-style: italic;
}