<header-lecture></header-lecture>

<ion-content>

  <ion-searchbar animated></ion-searchbar>
  <ion-list>
  
    <!-- A garder en dessous :  -->
    <ion-item color="success">
      <ion-label class="type-question-label">{{getMiniNameType(question.type)}}</ion-label>
      <span class="vertical-barre"></span>
      <ion-label class="question-label">{{question.question}}</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline" (click)="goToDetail(item)"></ion-icon>
    </ion-item>
    <!--  -->
  </ion-list>

</ion-content>
